<div class="row">
  <h1>Multiverso</h1>
  <div class="panel callout radius">
  <p><strong>Historia del mes Biblioteca Karl C. Parrish<strong></p>
  <p><%= @singularity.publication.content %></p>
</div>
  
  <h2>Timeline</h2>
</div>
<div id="publications">
 
   <%= render @publications %>
</div>
<div class="row">
  <%= paginate @publications %>
</div>

<script>
var page= 1;
function theFunction () {
  page++;
  $.ajax({
      type: 'GET',
      url: '/more_publications',
      dataType: 'json',
      data: { 'page' :page  },
      success: function(data){

      } 
    });


    }

</script>

