<div class="row">
  <h1>Multiverso</h1>
  <div class="panel callout radius">
  <p><strong>Historia del mes Biblioteca Karl C. Parrish<strong></p>
  <p><%= @singularity.publication.content %></p>
</div>
  
  <h2>Timeline</h2>
</div>
<div id="publications">
 
   <%= render @publications %>
</div>
<div class="row">
  <%= paginate @publications %>
</div>
