<h1></h1>

<table>
  <thead>
    <tr>
      <th>Singularidad</th>
      <th>Fecha</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= truncate(history.title,length: 100) %></td>
        <td><%= history.created_at.to_formatted_s(:short) %></td>
        <td><%= link_to 'Ver Historia', history %></td>
        <% if user_signed_in? && current_user.admin?%>
          <td><%= link_to 'Destroy', history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
