<p id="notice"><%= notice %></p>

<p>
  <strong>Id singularidad:</strong>
  <%= @historia.id_singularidad %>
</p>

<%= link_to 'Edit', edit_historia_path(@historia) %> |
<%= link_to 'Back', historias_path %>
