<p id="notice"><%= notice %></p>

<p>
  <strong>Id singularidad:</strong>
  <%= @historias.id_singularidad %>
</p>

<%= link_to 'Edit', edit_historias_path(@historias) %> |
<%= link_to 'Back', historias_path %>
